*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg-content {
    width: 70%;
    padding: 5rem;
    background: blue;
}
.btn{
    background-color: lime;
}
.txt1{
    font-size: 1.2rem;
    color: red;
}